In [31]:
import pandas as pd

## Question 11

In [36]:
df = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding='latin-1')
y2014 = df.groupby('Item')['Y2014'].sum()
y2017 = df.groupby('Item')['Y2017'].sum()
print(y2014['Animal fats'], y2017['Animal fats'])

209460.54 269617.53

## Question 12

In [40]:
print(df['Y2015'].mean(), df['Y2015'].std())

135.23596649549236 1603.4039839423301

## Question 13

In [42]:
# Question 13
x = df['Y2016'].isnull().sum()
print(x, (x/len(df['Y2016'])) * 100)

1535 2.5187470259094566

## Question 14

In [58]:
# Question 14
elem_code = df['Element Code']
print(elem_code.corr(df['Y2014']), elem_code.corr(df['Y2015']), elem_code.corr(df['Y2016']), elem_code.corr(df['Y2017']), elem_code.corr(df['Y2018']))
# ans == 2014

0.024456819495221736 0.02388919930163995 0.02344399758496138 0.024254007760045757 0.02427857195351954

## Question 15

In [62]:
y2014 = df.groupby('Element')['Y2014'].sum()['Production']
y2015 = df.groupby('Element')['Y2015'].sum()['Production']
y2016 = df.groupby('Element')['Y2016'].sum()['Production']
y2017 = df.groupby('Element')['Y2017'].sum()['Production']
y2018 = df.groupby('Element')['Y2018'].sum()['Production']
print(y2014, y2015, y2016, y2017, y2018)
# ans == 2018

1931287.75 1947019.39 1943537.15 2030056.89 2075072.89

## Question 16

In [60]:
y2014 = df.groupby('Element')['Y2014'].sum()['Import Quantity']
y2015 = df.groupby('Element')['Y2015'].sum()['Import Quantity']
y2016 = df.groupby('Element')['Y2016'].sum()['Import Quantity']
y2017 = df.groupby('Element')['Y2017'].sum()['Import Quantity']
y2018 = df.groupby('Element')['Y2018'].sum()['Import Quantity']
print(y2014, y2015, y2016, y2017, y2018)
# ans == 2017

274144.48 267018.46 286582.78 294559.09 287997.09

## Question 17

In [68]:
new_df = pd.DataFrame()
new_df['Element'] = df['Element']
new_df['Y2018'] = df['Y2018']
new_df.groupby('Element')['Element'].count()
# Element with maximum value is 'Domestic supply quantity'

Element
Domestic supply quantity                  5295
Export Quantity                           4403
Fat supply quantity (g/capita/day)        5023
Feed                                      1319
Food                                      4941
Food supply (kcal/capita/day)             5014
Food supply quantity (kg/capita/yr)       4905
Import Quantity                           5139
Losses                                    2009
Other uses (non-food)                     1732
Processing                                2010
Production                                3881
Protein supply quantity (g/capita/day)    5023
Residuals                                 4655
Seed                                       762
Stock Variation                           4232
Total Population - Both sexes               45
Tourist consumption                        555
Name: Element, dtype: int64

## Question 18
#### From the dataframe above, the answer is "Seed"

## Question 19

In [81]:
new_df = pd.DataFrame()
Element = []
Y2018 = []
for i in range(len(df)):
    row = df.iloc[i]
    if row['Area'] == 'Algeria':
        Element += [row['Element']]
        Y2018 += [row['Y2018']]
new_df['Element'] = Element
new_df['Y2018'] = Y2018
new_df.groupby('Element')['Y2018'].sum()

# answer == 36238.29

Element
Domestic supply quantity                  90023.42
Export Quantity                             811.54
Fat supply quantity (g/capita/day)          309.09
Feed                                      10668.00
Food                                      63736.33
Food supply (kcal/capita/day)             13288.00
Food supply quantity (kg/capita/yr)        1509.28
Import Quantity                           36238.29
Losses                                     7708.00
Other uses (non-food)                      3970.08
Processing                                 2479.00
Production                                60766.67
Protein supply quantity (g/capita/day)      367.28
Residuals                                   630.00
Seed                                        825.00
Stock Variation                            6172.00
Total Population - Both sexes             42228.00
Name: Y2018, dtype: float64

## Question 20

In [76]:
print(len(df.groupby('Area')['Area'].count()))

49